# Blacklist files/folders in same directory as the .gitignore file
/*
# White list
!alternatives/
!aliases
!apt/
!bash_completion.d/
!colortail/
!cron.d/
!cron.daily/
!cron.hourly/
!cron.monthly/
!cron.weekly/
!dbus-1/
!default/
!dhcp/
!dpkg/
!group
!passwd
!hosts
!iproute2/
!incron.d/
!init.d/
!init/
!insserv.conf.d/
!ld.so.conf.d.
!ldap/
!lograte.d/
!logrotate.d/
!modules-load.d/
!nagios-plugins/
!ntp.conf
!pam.d/
!perl/
!postfix/
!python2.7/
!python3.5/
!rc0.d/
!rc1.d/
!rc2.d/
!rc3.d/
!rc4.d/
!rc5.d/
!rc6.d/
!rcS.d/
!resolv.conf
!rsyslog.d/
!security/
!screenrc
!scripts/
!ssh/
!sshguard/
!ssl/
!sudoers.d/
!sysctl.d/
!systemd/
!terminfo/
!teamd.conf
!udev/
!update-motd.d/
!vim/
!extra_exercises
!system/
!systemd/system/
!.gitignore
!systemd/system/ladvd.service

#Whitelist files not in subdir
!adduser.conf
!aliases
!aliases.db
!appliance.info
!bash.bashrc
!bash_completion
!bindresvport.blacklist
!ca-certificates.conf
!crontab
!debconf.conf
!debian_version
!deluser.conf
!environment
!fstab
!gai.conf
!group
!group-
!gshadow
!gshadow-
!gssapi_mech.conf
!host.conf
!hostname
!hosts
!hosts.allow
!hosts.deny
!inputrc
!issue
!issue.net
!ld.so.cache
!ld.so.conf
!libaudit.conf
!locale.alias
!locale.gen
!localtime
!login.defs
!logrotate.conf
!machine-id
!magic
!magic.mime
!mailcap
!mailcap.order
!manpath.config
!mime.types
!mke2fs.conf
!modules
!motd
!mtab
!nanorc
!netconfig
!networks
!nsswitch.conf
!os-release
!pam.conf
!passwd
!passwd-
!profile
!protocols
!reportbug.conf
!resolv.conf
!rmt
!rpc
!rsyslog.conf
!securetty
!services
!shadow
!shadow-
!shells
!staff-group-for-usr-local
!subgid
!subgid-
!subuid
!subuid-
!sysctl.conf
!timezone
!ucf.conf
!wgetrc
!incron.allow
