# Blacklist files/folders in same directory as the .gitignore file
/*
# White list
!aliases
!apt/
!colortail/
!cron.d/
!default/
!group
!passwd
!hosts
!iproute2/
!ntp.conf
!postfix
!resolv.conf
!screenrc
!scripts/
!ssh/
!systemd/
!teamd.conf
!udev/
!vim/
!extra_exercises
!system/
!systemd/system/
!.gitignore
!systemd/system/ladvd.service

#Whitelist files not in subdir
!adduser.conf
!aliases
!aliases.db
!appliance.info
!bash.bashrc
!bash_completion
!bindresvport.blacklist
!ca-certificates.conf
!crontab
!debconf.conf
!debian_version
!deluser.conf
!environment
!fstab
!gai.conf
!group
!group-
!gshadow
!gshadow-
!gssapi_mech.conf
!host.conf
!hostname
!hosts
!hosts.allow
!hosts.deny
!inputrc
!issue
!issue.net
!ld.so.cache
!ld.so.conf
!libaudit.conf
!locale.alias
!locale.gen
!localtime
!login.defs
!logrotate.conf
!machine-id
!magic
!magic.mime
!mailcap
!mailcap.order
!manpath.config
!mime.types
!mke2fs.conf
!modules
!motd
!mtab
!nanorc
!netconfig
!networks
!nsswitch.conf
!os-release
!pam.conf
!passwd
!passwd-
!profile
!protocols
!reportbug.conf
!resolv.conf
!rmt
!rpc
!rsyslog.conf
!securetty
!services
!shadow
!shadow-
!shells
!staff-group-for-usr-local
!subgid
!subgid-
!subuid
!subuid-
!sysctl.conf
!timezone
!ucf.conf
!wgetrc
